:root {
    font-size: 18px;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #d9def7;
}

.evergiven {
    width: 80vw;
    height: 40vw;
    background-color: #121212;
    color: #ffffff;
    border-bottom-left-radius: 10vw;
    border-bottom-right-radius: 10vw;
    position: relative;
}

.evergiven__name {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .5ch;
    font-weight: 700;
    font-family: sans-serif;
    white-space: nowrap;
}

.evergiven__status {
    font-family: sans-serif;
    font-weight: 500;
    color: #121212;
}

.evergiven__time {
    font-family: sans-serif;
    font-size: 0.7rem;
}